<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/home" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp; Inicio
        </a>
        <a routerLink="/news" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp; Comunicaciones
        </a>
        <a routerLink="/expenses" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp; Expensas
        </a>
        <a routerLink="/complaints" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp; Inf. Pago
        </a>
        <a routerLink="/information" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-info"></i>&nbsp; Información Util
        </a>

    </ul>
</nav>
