<div>
    <h2 class="text-muted"><small>Informacion</small></h2>
    <hr/>
    <div >
        <div class="row">
            <div class="col-xl-12 text-xs-center">
                <div class="card mb-3">
                    <div class="card-header card-default">
                            info
                    </div>
                    <div class="card-block">
                            info
                    </div>
                </div>

            </div>
        </div>
        <br/>
    </div>
</div>

