<div>
    <h2 class="text-muted"><small>Resumen</small></h2>
    <div class="row">
        <div class="col-md-12">
            <img class="img-fluid mx-auto d-block" [src]="buildingInfo.imagePath" alt="buildingInfo.name" width="100%">
            <div class="carousel-caption">
                <h3>{{buildingInfo.name}}</h3>
                <p>{{buildingInfo.address}}</p>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div *ngFor="let new of buildingInfo.news; let i = index" class="col-xl-3 col-lg-6">
            <div [ngSwitch]="new.type">
                <app-stat *ngSwitchCase="'Information'" [bgClass]="'card-info'" [icon]="'fa-comments'"  [label]="new.title" [data]="new.description"></app-stat>
                <app-stat *ngSwitchCase="'Urgent'" [bgClass]="'card-danger'" [icon]="'fa-support'" [label]="new.title" [data]="new.description"></app-stat>
                <app-stat *ngSwitchCase="'Warning'" [bgClass]="'card-tasks'" [icon]="'fa-comments'" [label]="new.title" [data]="new.description"></app-stat>
            </div>

        </div>

    </div>
</div>
