<div>
    <h2 class="text-muted"><small>Resumen</small></h2>
    <div class="row">
        <div class="col-md-12">
            <img class="img-fluid mx-auto d-block" [src]="buildingInfo.imagePath" alt="buildingInfo.name" width="100%">
            <div class="carousel-caption">
                <h3>{{buildingInfo.name}}</h3>
                <p>{{buildingInfo.address}}</p>
            </div>
        </div>
    </div>

    <hr>
    <div class="row">
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-primary'" [icon]="'fa-comments'" [count]="26" [label]="'New Comments!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-info'" [icon]="'fa-tasks'" [count]="12" [label]="'New task!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-success'" [icon]="'fa-shopping-cart'" [count]="124" [label]="'New Orders!'" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'card-danger'" [icon]="'fa-support'" [count]="13" [label]="'New Tickets!'"></app-stat>
        </div>
    </div>
</div>
