<div>
    <h2 class="text-muted"><small>Noticias</small></h2>
    <hr/>
    <div *ngFor="let new of news; let i = index">
        <div class="row">
            <div class="col-xl-12 text-xs-center">
                <div class="card mb-3">
                    <div class="card-header card-default">
                            {{new.title}}
                    </div>
                    <div class="card-block">
                            {{new.description}}
                    </div>
                </div>

            </div>
        </div>
        <br/>
    </div>
</div>

