<div>
    <h2 class="text-muted"><small>Expensas</small></h2>
    <hr/>

    <p-dialog header="Title" [(visible)]="display">
        Content
    </p-dialog>
    <button type="button" (click)="showDialog()" class = "btn btn-success">Abrir</button>

    <div #deuda class="card mb-3">
        <div class="card-header">
            DETALLES DE SU DEUDA:
        </div>
        <div class="card-block table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Concepto Deuda</th>
                    <th>Período</th>
                    <th>Importe</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let expense of expenses;">
                    <td>{{ expense.concept }}</td>
                    <td>{{ expense.period }}</td>
                    <td>{{ expense.amount }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr/>
    <button type="button" (click)="downloadFile()" class = "btn btn-success">Descargar Expensa</button>
</div>
